@model EvidencijaVremena.Models.EvidencijeModel

@{
    ViewBag.Title = "Evidencije";
}

<h4>Evidencija predmeta</h4>

@foreach (var predmet in Model.Predmeti)
{
    <hr />
    <p>@Html.DisplayFor(x => predmet.Ime)</p>
    <hr />
    foreach (var aktivnost in predmet.Aktivnost)
    {
        <p>
            @Html.DisplayFor(x => aktivnost.Ime)
            @using (Html.BeginForm("Add", "Evidencija"))
            {
                @Html.Hidden("AktivnostID", aktivnost.ID)
                @Html.TextBox("Trajanje")
                <input type="submit" value="Dodaj" />
}
        </p>

        foreach (var evidencija in aktivnost.Evidencija)
        {
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.DisplayFor(x => evidencija.Trajanje) minuta -
                @Html.DisplayFor(x => evidencija.DatumUnosa) -
                @Html.ActionLink("Izbriši", "Delete", new { id = evidencija.ID })
            </p>
        }
    }
}