@model EvidencijaVremena.Models.EvidencijeModel

@{
    ViewBag.Title = "Evidencije";
}

<h4>Evidencija predmeta</h4>

<hr />

@foreach (var predmet in Model.Predmeti)
{
    <p>@Html.DisplayFor(x => predmet.Ime)</p>
    foreach (var aktivnost in predmet.Aktivnost)
    {
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            @Html.DisplayFor(x => aktivnost.Ime) -
            @Html.ActionLink("Dodaj", "Add", new { id = aktivnost.ID })
        </p>

        foreach (var evidencija in aktivnost.Evidencija)
        {
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.DisplayFor(x => evidencija.Trajanje) minuta -
                @Html.DisplayFor(x => evidencija.DatumUnosa) -
                @Html.ActionLink("Izbriši", "Delete", new { id = evidencija.ID })
            </p>
        }
    }
}


<hr />