@model EvidencijaVremena.Models.StatistikaModel

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-pills">
                    <li class="active"><a data-toggle="pill" href="#predmetiTab">Predmeti</a></li>
                    <li><a data-toggle="pill" href="#aktivnostiTab">Aktivnosti</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="tab-content">
    <div id="predmetiTab" class="tab-pane fade in active">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-inline">
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.OdabraniPredmetID, Model.SelectListPredmeta,
                                new { id = "predmeti", @class = "form-control", style = "width:auto; display:inline-block;" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                @Html.LabelFor(m => m.OdabraniPredmetID)
                            </div>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary btn-sm active">
                                    <input type="radio" name="options" id="ects" autocomplete="off" checked>ECTS
                                </label>
                                <label class="btn btn-primary btn-sm">
                                    <input type="radio" name="options" id="sati" autocomplete="off">Sati
                                </label>
                                <label class="btn btn-primary btn-sm">
                                    <input type="radio" name="options" id="postotci" autocomplete="off">%
                                </label>
                            </div>
                            <div id="predmetDiv" class="panel-body">
                                <canvas id="predmetGraf" width="400" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8" style="text-justify:distribute">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                @Html.LabelFor(m => m.OdabraniTipAktivnostiID)
                            </div>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary btn-sm active">
                                    <input type="radio" name="options" id="ects" autocomplete="off" checked>ECTS
                                </label>
                                <label class="btn btn-primary btn-sm">
                                    <input type="radio" name="options" id="sati" autocomplete="off">Sati
                                </label>
                                <label class="btn btn-primary btn-sm">
                                    <input type="radio" name="options" id="postotci" autocomplete="off">%
                                </label>
                            </div>
                            <div id="tipAktivnostiDiv" class="panel-body">
                                <canvas id="tipAktivnostiGraf" width="800" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="aktivnostiTab" class="tab-pane fade in">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-inline">
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.OdabraniTipAktivnostiID, Model.SelectListTipAktivnosti,
                                new { id = "aktivnosti", @class = "form-control", style = "width:auto; display:inline-block;" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12" style="text-justify:distribute">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                @Html.LabelFor(m => m.OdabranaAktivnostID)
                            </div>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary btn-sm active">
                                    <input type="radio" name="options" id="ects" autocomplete="off" checked>ECTS
                                </label>
                                <label class="btn btn-primary btn-sm">
                                    <input type="radio" name="options" id="sati" autocomplete="off">Sati
                                </label>
                                <label class="btn btn-primary btn-sm">
                                    <input type="radio" name="options" id="postotci" autocomplete="off">%
                                </label>
                            </div>
                            <div id="aktivnostiDiv" class="panel-body">
                                <canvas id="aktivnostiGraf" width="800" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript">
    $("#predmeti").change(function () {
        var prd = $("#predmeti").children(":selected")[0].value;
        $.post('@Url.Action("OsvjeziAktivnosti", "Statistika")', { predmetId: prd }, OsvjeziAktivnosti, "json");
    });

    $("#aktivnosti").change(function () {
        var prd = $("#predmeti").children(":selected")[0].value;
        var akt = $("#aktivnosti").children(":selected")[0].value;
        $.post('@Url.Action("OsvjeziPredmet", "Statistika")', { predmetId: prd, tipAktivnostiID: akt }, OsvjeziPredmet, "json");
    });

    function OsvjeziAktivnosti(data) {
        var $el = $("#aktivnosti");
        $el.empty();
        var len = data.id.length;
        for (var i = 0; i < len; i++) {
            var opt = document.createElement('option');
            opt.value = data.id[i];
            opt.innerHTML = data.naziv[i];
            var sel = $("#aktivnosti");
            sel.append($('<option></option>').val(opt.value).html(opt.innerHTML));
        }
        $("#aktivnosti").change();
    }

    function OsvjeziPredmet(data) {
        // zaokruzi decimalne brojeve
        var x = 0;
        var len = data.tipoviAktivnostiECTS.length
        while (x < len) {
            data.korisnikTipoviAktivnostiECTS[x] = data.korisnikTipoviAktivnostiECTS[x].toFixed(2);
            data.prosjekTipoviAktivnostiECTS[x] = data.prosjekTipoviAktivnostiECTS[x].toFixed(2);
            data.tipoviAktivnostiECTS[x] = data.tipoviAktivnostiECTS[x].toFixed(2);
            x++;
        }

        var x = 0;
        var len = data.aktivnostiECTS.length
        while (x < len) {
            data.korisnikAktivnostiECTS[x] = data.korisnikAktivnostiECTS[x].toFixed(2);
            data.prosjekAktivnostiECTS[x] = data.prosjekAktivnostiECTS[x].toFixed(2);
            data.aktivnostiECTS[x] = data.aktivnostiECTS[x].toFixed(2);
            x++;
        }

        document.getElementById("predmetDiv").innerHTML = '&nbsp;';
        document.getElementById("predmetDiv").innerHTML = '<canvas id="predmetGraf"></canvas>';
        var ctx1 = document.getElementById("predmetGraf");
        ctx1.width = 400;
        ctx1.height = 400;
        var predmetGraf = new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: [data.imePredmeta],
                datasets: [
                    {
                        backgroundColor: "rgba(255,99,71,0.5)",
                        borderColor: "rgba(255,0,0,1)",
                        borderWidth: 1,
                        data: [data.korisnikECTS.toFixed(2)],
                        label: "Korisnik",
                    },
                    {
                        backgroundColor: "rgba(50,205,50,0.5)",
                        borderColor: "rgba(0,255,0,1)",
                        borderWidth: 1,
                        data: [data.prosjekECTS.toFixed(2)],
                        label: "Prosjek"
                    },
                    {
                        backgroundColor: "rgba(30,144,255,0.5)",
                        borderColor: "rgba(0,0,255,1)",
                        borderWidth: 1,
                        data: [data.predmetECTS.toFixed(2)],
                        label: "Predmet"
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        document.getElementById("tipAktivnostiDiv").innerHTML = '&nbsp;';
        document.getElementById("tipAktivnostiDiv").innerHTML = '<canvas id="tipAktivnostiGraf"></canvas>';
        var ctx2 = document.getElementById("tipAktivnostiGraf");
        ctx2.width = 800;
        ctx2.height = 400;
        var tipoviAktivnostiGraf = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: data.tipoviAktivnostiNaziv,
                datasets: [
                    {
                        backgroundColor: "rgba(255,99,71,0.5)",
                        borderColor: "rgba(255,0,0,1)",
                        borderWidth: 1,
                        data: data.korisnikTipoviAktivnostiECTS,
                        label: "Korisnik",
                    },
                    {
                        backgroundColor: "rgba(50,205,50,0.5)",
                        borderColor: "rgba(0,255,0,1)",
                        borderWidth: 1,
                        data: data.prosjekTipoviAktivnostiECTS,
                        label: "Prosjek"
                    },
                    {
                        backgroundColor: "rgba(30,144,255,0.5)",
                        borderColor: "rgba(0,0,255,1)",
                        borderWidth: 1,
                        data: data.tipoviAktivnostiECTS,
                        label: "Tip aktivnosti"
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        document.getElementById("aktivnostiDiv").innerHTML = '&nbsp;';
        document.getElementById("aktivnostiDiv").innerHTML = '<canvas id="aktivnostiGraf"></canvas>';
        var ctx3 = document.getElementById("aktivnostiGraf");
        ctx3.width = 800;
        ctx3.height = 400;
        var aktivnostiGraf = new Chart(ctx3, {
            type: 'bar',
            data: {
                labels: data.aktivnostiNaziv,
                datasets: [
                    {
                        backgroundColor: "rgba(255,99,71,0.5)",
                        borderColor: "rgba(255,0,0,1)",
                        borderWidth: 1,
                        data: data.korisnikAktivnostiECTS,
                        label: "Korisnik",
                    },
                    {
                        backgroundColor: "rgba(50,205,50,0.5)",
                        borderColor: "rgba(0,255,0,1)",
                        borderWidth: 1,
                        data: data.prosjekAktivnostiECTS,
                        label: "Prosjek"
                    },
                    {
                        backgroundColor: "rgba(30,144,255,0.5)",
                        borderColor: "rgba(0,0,255,1)",
                        borderWidth: 1,
                        data: data.aktivnostiECTS,
                        label: "Aktivnost"
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }

    $(document).ready(function () {
        $("#predmeti").change();
    });
</script>
