@model EvidencijaVremena.Models.StatistikaModel

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-pills">
                    <li class="active"><a data-toggle="pill" href="#predmetiTab">Predmeti</a></li>
                    <li><a data-toggle="pill" href="#aktivnostiTab">Aktivnosti</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="tab-content">
    <div id="predmetiTab" class="tab-pane fade in active">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-inline">
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.OdabraniPredmetID, Model.SelectListPredmeta,
                                new { id = "predmeti", @class = "form-control", style = "width:auto; display:inline-block;" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                @Html.LabelFor(m => m.OdabraniPredmetID)
                            </div>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary btn-sm active">
                                    <input type="radio" name="options" id="ects" autocomplete="off" checked>ECTS
                                </label>
                                <label class="btn btn-primary btn-sm">
                                    <input type="radio" name="options" id="sati" autocomplete="off">Sati
                                </label>
                                <label class="btn btn-primary btn-sm">
                                    <input type="radio" name="options" id="postotci" autocomplete="off">%
                                </label>
                            </div>
                            <div class="panel-body">
                                <canvas id="predmetGraf" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8" style="text-justify:distribute">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                @Html.LabelFor(m => m.OdabraniTipAktivnostiID)
                            </div>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary btn-sm active">
                                    <input type="radio" name="options" id="ects" autocomplete="off" checked>ECTS
                                </label>
                                <label class="btn btn-primary btn-sm">
                                    <input type="radio" name="options" id="sati" autocomplete="off">Sati
                                </label>
                                <label class="btn btn-primary btn-sm">
                                    <input type="radio" name="options" id="postotci" autocomplete="off">%
                                </label>
                            </div>
                            <div class="panel-body">
                                <canvas id="tipAktivnostiGraf" width="800" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="aktivnostiTab" class="tab-pane fade in">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-inline">
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.OdabraniTipAktivnostiID, Model.SelectListTipAktivnosti,
                                new { id = "aktivnosti", @class = "form-control", style = "width:auto; display:inline-block;" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-8" style="text-justify:distribute">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                @Html.LabelFor(m => m.OdabranaAktivnostID)
                            </div>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary btn-sm active">
                                    <input type="radio" name="options" id="ects" autocomplete="off" checked>ECTS
                                </label>
                                <label class="btn btn-primary btn-sm">
                                    <input type="radio" name="options" id="sati" autocomplete="off">Sati
                                </label>
                                <label class="btn btn-primary btn-sm">
                                    <input type="radio" name="options" id="postotci" autocomplete="off">%
                                </label>
                            </div>
                            <div class="panel-body">
                                <canvas id="aktivnostiGraf" width="800" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="panel panel-default">
                            <p>zanimljivosti...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript">
    $("#predmeti").change(function () {
        var id = $(this).children(":selected")[0].value;
        $.post('@Url.Action("OsvjeziPredmet", "Statistika")', { predmetId: id }, OsvjeziPredmet, "json");
    });


    $('#ects').on('click', function (event) {
        console.log("test");
    });

    function OsvjeziPredmet(data) {
        console.log("Osvjezujem graf...");
        var ctx = document.getElementById("predmetGraf");
        var predmetGraf = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [""],
                datasets: [
                    {
                        backgroundColor: "rgba(255,99,71,0.5)",
                        borderColor: "rgba(255,0,0,1)",
                        borderWidth: 1,
                        data: [data.korisnikECTS.toFixed(2)],
                        label: "Ja",
                    },
                    {
                        backgroundColor: "rgba(50,205,50,0.5)",
                        borderColor: "rgba(0,255,0,1)",
                        borderWidth: 1,
                        data: [data.prosjekECTS.toFixed(2)],
                        label: "Prosjek"
                    },
                    {
                        backgroundColor: "rgba(30,144,255,0.5)",
                        borderColor: "rgba(0,0,255,1)",
                        borderWidth: 1,
                        data: [data.predmetECTS.toFixed(2)],
                        label: "Predmet"
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }

    $(document).ready(function () {
        $("#predmeti").change();
    });
</script>
