@model EvidencijaVremena.Models.PrijavaModel

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12">
                <label>Prijava</label>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
                <form class="form" method="post">
                    <div class="form-group">
                        @Html.LabelFor(model => model.KorisnickoIme, new { @class = "control-label" })
                        @Html.EditorFor(model => model.KorisnickoIme, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KorisnickoIme, "", new { @class = "text-danger" })
                        @Html.ValidationMessage("korisnik_error", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Lozinka, new { @class = "control-label" })
                        @Html.PasswordFor(model => model.Lozinka, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Lozinka, "", new { @class = "text-danger" })
                        @Html.ValidationMessage("lozinka_error", new { @class = "text-danger" })
                    </div>
                    <div class="form-group form-inline">
                        @Html.LabelFor(model => model.ZapamtiMe, new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.ZapamtiMe)
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-default" value="Prijava" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
