@model ppij_web_aplikacija.Models.RegisterBindingModel
<!DOCTYPE html>
<html>
    <head>
        <title>Registracija</title>
    </head>
    <body>
        <div>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-8" style="text-align:center">
                                <hr />
                                <h3><b>Registracija:</b></h3>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4"></div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <h4>Ime</h4>
                                    @Html.EditorFor(model => model.ime, new { htmlAttributes = new { id = "date", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ime)
                                </div>
                                <div class="form-group">
                                    <h4>Prezime</h4>
                                    @Html.EditorFor(model => model.prezime, new { htmlAttributes = new { id = "date", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.prezime)
                                </div>
                                <div class="form-group">
                                    <h4>Korisničko ime</h4>
                                    @Html.EditorFor(model => model.korisnicko_ime, new { htmlAttributes = new { id = "date", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.korisnicko_ime)
                                    @Html.ValidationMessage("kor_ime_uniq")
                                </div>
                                <div class="form-group">
                                    <h4>Lozinka</h4>
                                    @Html.PasswordFor(model => model.Password, new { id = "date", @class = "form-control" } )
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>
                                <div class="form-group">
                                    <h4>Ponovljena Lozinka</h4>
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { id = "date", @class = "form-control" } )
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                    @Html.ValidationMessage("error_ista")
                                </div>
                                <div class="form-group">
                                    <h4>Email</h4>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { id = "date", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                                <div class="form-group">
                                    <h4>Želim biti instruktor @Html.CheckBoxFor(model => model.jeInstruktor)</h4>
                                </div>
                                <input type="submit" class="btn btn-default" value="Registriraj se &raquo;" />
                            </div>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </body>
</html>
