<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/calendar_css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/chart")
    @Scripts.Render("~/bundles/calendar")
    @Scripts.Render("~/bundles/duallist")
    @Styles.Render("~/Content/duallist_css")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Predmeti", "Index", "Predmet", null, new { @class = "btn btn-default" })</li>
                        <li>@Html.ActionLink("Evidencija", "Index", "Evidencija", null, new { @class = "btn btn-default" })</li>
                        <li>@Html.ActionLink("Statistika", "Index", "Statistika", null, new { @class = "btn btn-default" })</li>}
                </ul>
                <ul class="nav navbar-right navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li class="navbar-right">@Html.ActionLink("Odjava", "Odjava", "Autorizacija", null, new { @class = "btn btn-default" })</li>
                        <li class="navbar-right">@Html.ActionLink(User.Identity.Name, "Index", "Profil", null, new { @class = "btn btn-default" })</li>}
                    else
                    {
                        <li class="navbar-right">@Html.ActionLink("Registracija", "Registracija", "Autorizacija", null, new { @class = "btn btn-default" })</li>
                        <li class="navbar-right">@Html.ActionLink("Prijava", "Prijava", "Autorizacija", null, new { @class = "btn btn-default" })</li>}
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
