@model EvidencijaVremena.Models.PredmetiModel

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12">
                @Html.LabelFor(m => Model.Pretplaceni)
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <select multiple id="pretplate">
                    @foreach (Predmet p in Model.Nepretplaceni)
                    {
                        <option value="@p.ID">@(p.Ime + " (" + p.Godina + ")")</option>}
                    @foreach (Predmet p in Model.Pretplaceni)
                    {
                        <option value="@p.ID" selected>@(p.Ime + " (" + p.Godina + ")")</option>}
                </select>
                <hr />
                <button id="azurirajPretplate" data-loading-text="Ažuriranje..." class="btn btn-primary">Ažuriraj</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript">

    $('#azurirajPretplate').on('click', function () {
        var $btn = $(this).button('loading');
        var pretplaceni = [];
        $("#pretplate option").each(function () {
            if ($(this).is(':selected')) {
                pretplaceni.push($(this).val());
            }
        });
        $.post('@Url.Action("AzurirajPretplate", "Predmet")', { pretplaceni: pretplaceni }, PretplateAzurirane, "json");
        setTimeout(function () { $btn.button('reset'); }, 100);    
    });

    function PretplateAzurirane() {
        $("azurirajPretplate").button("reset");
    }

    $(document).ready(function () {
        $("#pretplate").bootstrapDualListbox({
            filterTextClear: "Pokaži sve",
            selectedListLabel: "Pretplate",
            nonSelectedListLabel: "Predmeti",
            infoTextEmpty: "Prazno",
            infoText: false,
            filterPlaceHolder: "",
            selectorMinimalHeight: 200
        });
    });
</script>